body {
  background-color: white;
  font-family: "Helvetica", sans-serif;
  color: black
  ;
}

nav ul {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 2px;
  padding: 10px;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 30px;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
}

.topDivider {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: black;
  padding-bottom: 10px;
}

.stylishBox {
  background-color: white;
  color: black;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
}

.someSpacing {
  padding: 10px;
  margin-top: 20px;
}

/**********************************
This section is for styling tables
***********************************/
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
tr {
  background-color: white;
}
th, td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
th {
  color: black;
}
td {
  color: black;
}
/********************************/